Client/Project - WS/Service References/PlaylistService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPlaylistNames">
        <s:complexType />
      </s:element>
      <s:element name="GetPlaylistNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaylistNamesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaylistDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaylistDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaylistDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPlaylist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPlaylistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPlaylistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tracktitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="artist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTrackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTrackResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RateListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowRatingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPlaylistNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaylistNames" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaylistNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaylistDetails" />
  </wsdl:message>
  <wsdl:message name="GetPlaylistDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaylistDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AddPlaylistSoapIn">
    <wsdl:part name="parameters" element="tns:AddPlaylist" />
  </wsdl:message>
  <wsdl:message name="AddPlaylistSoapOut">
    <wsdl:part name="parameters" element="tns:AddPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="AddTrackSoapIn">
    <wsdl:part name="parameters" element="tns:AddTrack" />
  </wsdl:message>
  <wsdl:message name="AddTrackSoapOut">
    <wsdl:part name="parameters" element="tns:AddTrackResponse" />
  </wsdl:message>
  <wsdl:message name="RateListSoapIn">
    <wsdl:part name="parameters" element="tns:RateList" />
  </wsdl:message>
  <wsdl:message name="RateListSoapOut">
    <wsdl:part name="parameters" element="tns:RateListResponse" />
  </wsdl:message>
  <wsdl:message name="ShowRatingSoapIn">
    <wsdl:part name="parameters" element="tns:ShowRating" />
  </wsdl:message>
  <wsdl:message name="ShowRatingSoapOut">
    <wsdl:part name="parameters" element="tns:ShowRatingResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetPlaylistNames">
      <wsdl:input message="tns:GetPlaylistNamesSoapIn" />
      <wsdl:output message="tns:GetPlaylistNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistDetails">
      <wsdl:input message="tns:GetPlaylistDetailsSoapIn" />
      <wsdl:output message="tns:GetPlaylistDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPlaylist">
      <wsdl:input message="tns:AddPlaylistSoapIn" />
      <wsdl:output message="tns:AddPlaylistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <wsdl:input message="tns:AddTrackSoapIn" />
      <wsdl:output message="tns:AddTrackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RateList">
      <wsdl:input message="tns:RateListSoapIn" />
      <wsdl:output message="tns:RateListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <wsdl:input message="tns:ShowRatingSoapIn" />
      <wsdl:output message="tns:ShowRatingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlaylistNames">
      <soap:operation soapAction="http://tempuri.org/GetPlaylistNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistDetails">
      <soap:operation soapAction="http://tempuri.org/GetPlaylistDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylist">
      <soap:operation soapAction="http://tempuri.org/AddPlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <soap:operation soapAction="http://tempuri.org/AddTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateList">
      <soap:operation soapAction="http://tempuri.org/RateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <soap:operation soapAction="http://tempuri.org/ShowRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlaylistNames">
      <soap12:operation soapAction="http://tempuri.org/GetPlaylistNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPlaylistDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlaylist">
      <soap12:operation soapAction="http://tempuri.org/AddPlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <soap12:operation soapAction="http://tempuri.org/AddTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RateList">
      <soap12:operation soapAction="http://tempuri.org/RateList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <soap12:operation soapAction="http://tempuri.org/ShowRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49853/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49853/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>